
---
import Layout from "../layouts/Layout.astro";
import Productos from "../components/Productos.astro";
---

<Layout title="Productos - Snacks Shacks">
  <h2 class="text-3xl font-bold mb-4">Nuestros Productos</h2>
  <Productos />
</Layout>
